<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--"memory" - from memory
        "file" - from text file-->
    <add key="DaoDataKey" value="file"/>
  </appSettings>
</configuration>